<header ng-switch on="$location.path().indexOf('/Entradas/new') > -1">
    <h3 ng-switch-when="true">Create a new Entrada</h3>
    <h3 ng-switch-when="false">View or edit Entrada</h3>
</header>
<form id="EntradaForm" name="EntradaForm" class="form-horizontal" role="form">
    
    <div class="form-group" ng-class="{'has-error': EntradaForm.ddFormapago.$invalid}">
        <label for="ddFormapago" class="col-sm-2 control-label">Dd Formapago</label>
        <div id="ddFormapagoControls" class="col-sm-10">
        <select id="ddFormapago" name="ddFormapago" class="form-control" ng-model="ddFormapagoSelection" ng-options="d.text for d in ddFormapagoSelectionList"  >
            <option value="">Choose a Dd Formapago</option>
        </select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': EntradaForm.ddOrigenEntrada.$invalid}">
        <label for="ddOrigenEntrada" class="col-sm-2 control-label">Dd Origen Entrada</label>
        <div id="ddOrigenEntradaControls" class="col-sm-10">
        <select id="ddOrigenEntrada" name="ddOrigenEntrada" class="form-control" ng-model="ddOrigenEntradaSelection" ng-options="d.text for d in ddOrigenEntradaSelectionList"  >
            <option value="">Choose a Dd Origen Entrada</option>
        </select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': EntradaForm.ddTipoEntrada.$invalid}">
        <label for="ddTipoEntrada" class="col-sm-2 control-label">Dd Tipo Entrada</label>
        <div id="ddTipoEntradaControls" class="col-sm-10">
        <select id="ddTipoEntrada" name="ddTipoEntrada" class="form-control" ng-model="ddTipoEntradaSelection" ng-options="d.text for d in ddTipoEntradaSelectionList"  >
            <option value="">Choose a Dd Tipo Entrada</option>
        </select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': EntradaForm.ddTiposIva.$invalid}">
        <label for="ddTiposIva" class="col-sm-2 control-label">Dd Tipos Iva</label>
        <div id="ddTiposIvaControls" class="col-sm-10">
        <select id="ddTiposIva" name="ddTiposIva" class="form-control" ng-model="ddTiposIvaSelection" ng-options="d.text for d in ddTiposIvaSelectionList"  >
            <option value="">Choose a Dd Tipos Iva</option>
        </select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': EntradaForm.evento.$invalid}">
        <label for="evento" class="col-sm-2 control-label">Evento</label>
        <div id="eventoControls" class="col-sm-10">
        <select id="evento" name="evento" class="form-control" ng-model="eventoSelection" ng-options="e.text for e in eventoSelectionList"  >
            <option value="">Choose a Evento</option>
        </select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': EntradaForm.usuario.$invalid}">
        <label for="usuario" class="col-sm-2 control-label">Usuario</label>
        <div id="usuarioControls" class="col-sm-10">
        <select id="usuario" name="usuario" class="form-control" ng-model="usuarioSelection" ng-options="u.text for u in usuarioSelectionList"  >
            <option value="">Choose a Usuario</option>
        </select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': EntradaForm.numeroserie.$invalid}">
        <label for="numeroserie" class="col-sm-2 control-label">Numeroserie</label>
        <div id="numeroserieControls" class="col-sm-10">
            <input id="numeroserie" name="numeroserie" type="text" ng-maxlength="100" class="form-control" ng-model="entrada.numeroserie" placeholder="Enter the Entrada Numeroserie"></input>
            <span class="help-block error" ng-show="EntradaForm.numeroserie.$error.maxlength">maximum length is 100</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': EntradaForm.validada.$invalid}">
        <label for="validada" class="col-sm-2 control-label">Validada</label>
        <div id="validadaControls" class="col-sm-10">
            <input id="validada" name="validada" type="checkbox" class="checkbox" ng-model="entrada.validada" placeholder="Enter the Entrada Validada"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': EntradaForm.ticketgenerado.$invalid}">
        <label for="ticketgenerado" class="col-sm-2 control-label">Ticketgenerado</label>
        <div id="ticketgeneradoControls" class="col-sm-10">
            <input id="ticketgenerado" name="ticketgenerado" type="checkbox" class="checkbox" ng-model="entrada.ticketgenerado" placeholder="Enter the Entrada Ticketgenerado"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': EntradaForm.precio.$invalid}">
        <label for="precio" class="col-sm-2 control-label">Precio</label>
        <div id="precioControls" class="col-sm-10">
            <input id="precio" name="precio" type="number" class="form-control" ng-model="entrada.precio" placeholder="Enter the Entrada Precio"></input>
            <span class="help-block error" ng-show="EntradaForm.precio.$error.number">not a number</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': EntradaForm.activa.$invalid}">
        <label for="activa" class="col-sm-2 control-label">Activa</label>
        <div id="activaControls" class="col-sm-10">
            <input id="activa" name="activa" type="checkbox" class="checkbox" ng-model="entrada.activa" placeholder="Enter the Entrada Activa"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': EntradaForm.dentrofuera.$invalid}">
        <label for="dentrofuera" class="col-sm-2 control-label">Dentrofuera</label>
        <div id="dentrofueraControls" class="col-sm-10">
            <input id="dentrofuera" name="dentrofuera" type="checkbox" class="checkbox" ng-model="entrada.dentrofuera" placeholder="Enter the Entrada Dentrofuera"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': EntradaForm.vendida.$invalid}">
        <label for="vendida" class="col-sm-2 control-label">Vendida</label>
        <div id="vendidaControls" class="col-sm-10">
            <input id="vendida" name="vendida" type="checkbox" class="checkbox" ng-model="entrada.vendida" placeholder="Enter the Entrada Vendida"></input>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveEntrada" name="saveEntrada" class="btn btn-primary" ng-disabled="isClean() || EntradaForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteEntrada" name="deleteEntrada" class="btn btn-danger" ng-show="entrada.identrada" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>