<header ng-switch on="$location.path().indexOf('/DdOrigenEntradas/new') > -1">
    <h3 ng-switch-when="true">Create a new DdOrigenEntrada</h3>
    <h3 ng-switch-when="false">View or edit DdOrigenEntrada</h3>
</header>
<form id="DdOrigenEntradaForm" name="DdOrigenEntradaForm" class="form-horizontal" role="form">
    
    <div class="form-group" ng-class="{'has-error': DdOrigenEntradaForm.nombre.$invalid}">
        <label for="nombre" class="col-sm-2 control-label">Nombre</label>
        <div id="nombreControls" class="col-sm-10">
            <input id="nombre" name="nombre" type="text" required ng-maxlength="45" class="form-control" ng-model="ddOrigenEntrada.nombre" placeholder="Enter the DdOrigenEntrada Nombre"></input>
            <span class="help-block error" ng-show="DdOrigenEntradaForm.nombre.$error.required">required</span> 
            <span class="help-block error" ng-show="DdOrigenEntradaForm.nombre.$error.maxlength">maximum length is 45</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': DdOrigenEntradaForm.entradas.$invalid}">
        <label for="entradas" class="col-sm-2 control-label">Entradas</label>
        <div id="entradasControls" class="col-sm-10">
            <select id="entradas" name="entradas" multiple class="form-control" ng-model="entradasSelection" ng-options="e.text for e in entradasSelectionList">
                <option value="">Choose a Entradas</option>
            </select>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveDdOrigenEntrada" name="saveDdOrigenEntrada" class="btn btn-primary" ng-disabled="isClean() || DdOrigenEntradaForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteDdOrigenEntrada" name="deleteDdOrigenEntrada" class="btn btn-danger" ng-show="ddOrigenEntrada.idorigenEntrada" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>