<header ng-switch on="$location.path().indexOf('/Organizadors/new') > -1">
    <h3 ng-switch-when="true">Create a new Organizador</h3>
    <h3 ng-switch-when="false">View or edit Organizador</h3>
</header>
<form id="OrganizadorForm" name="OrganizadorForm" class="form-horizontal" role="form">
    
    <div class="form-group" ng-class="{'has-error': OrganizadorForm.globalCodigopostal.$invalid}">
        <label for="globalCodigopostal" class="col-sm-2 control-label">Global Codigopostal</label>
        <div id="globalCodigopostalControls" class="col-sm-10">
        <select id="globalCodigopostal" name="globalCodigopostal" class="form-control" ng-model="globalCodigopostalSelection" ng-options="g.text for g in globalCodigopostalSelectionList"  >
            <option value="">Choose a Global Codigopostal</option>
        </select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': OrganizadorForm.nombre.$invalid}">
        <label for="nombre" class="col-sm-2 control-label">Nombre</label>
        <div id="nombreControls" class="col-sm-10">
            <input id="nombre" name="nombre" type="text" ng-maxlength="45" class="form-control" ng-model="organizador.nombre" placeholder="Enter the Organizador Nombre"></input>
            <span class="help-block error" ng-show="OrganizadorForm.nombre.$error.maxlength">maximum length is 45</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': OrganizadorForm.direccion.$invalid}">
        <label for="direccion" class="col-sm-2 control-label">Direccion</label>
        <div id="direccionControls" class="col-sm-10">
            <input id="direccion" name="direccion" type="text" ng-maxlength="45" class="form-control" ng-model="organizador.direccion" placeholder="Enter the Organizador Direccion"></input>
            <span class="help-block error" ng-show="OrganizadorForm.direccion.$error.maxlength">maximum length is 45</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': OrganizadorForm.descripcion.$invalid}">
        <label for="descripcion" class="col-sm-2 control-label">Descripcion</label>
        <div id="descripcionControls" class="col-sm-10">
            <input id="descripcion" name="descripcion" type="text" ng-maxlength="45" class="form-control" ng-model="organizador.descripcion" placeholder="Enter the Organizador Descripcion"></input>
            <span class="help-block error" ng-show="OrganizadorForm.descripcion.$error.maxlength">maximum length is 45</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': OrganizadorForm.enlacefb.$invalid}">
        <label for="enlacefb" class="col-sm-2 control-label">Enlacefb</label>
        <div id="enlacefbControls" class="col-sm-10">
            <input id="enlacefb" name="enlacefb" type="text" ng-maxlength="45" class="form-control" ng-model="organizador.enlacefb" placeholder="Enter the Organizador Enlacefb"></input>
            <span class="help-block error" ng-show="OrganizadorForm.enlacefb.$error.maxlength">maximum length is 45</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': OrganizadorForm.enlacetw.$invalid}">
        <label for="enlacetw" class="col-sm-2 control-label">Enlacetw</label>
        <div id="enlacetwControls" class="col-sm-10">
            <input id="enlacetw" name="enlacetw" type="text" ng-maxlength="45" class="form-control" ng-model="organizador.enlacetw" placeholder="Enter the Organizador Enlacetw"></input>
            <span class="help-block error" ng-show="OrganizadorForm.enlacetw.$error.maxlength">maximum length is 45</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': OrganizadorForm.email.$invalid}">
        <label for="email" class="col-sm-2 control-label">Email</label>
        <div id="emailControls" class="col-sm-10">
            <input id="email" name="email" type="text" ng-maxlength="45" class="form-control" ng-model="organizador.email" placeholder="Enter the Organizador Email"></input>
            <span class="help-block error" ng-show="OrganizadorForm.email.$error.maxlength">maximum length is 45</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': OrganizadorForm.telefono.$invalid}">
        <label for="telefono" class="col-sm-2 control-label">Telefono</label>
        <div id="telefonoControls" class="col-sm-10">
            <input id="telefono" name="telefono" type="text" ng-maxlength="9" class="form-control" ng-model="organizador.telefono" placeholder="Enter the Organizador Telefono"></input>
            <span class="help-block error" ng-show="OrganizadorForm.telefono.$error.maxlength">maximum length is 9</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': OrganizadorForm.password.$invalid}">
        <label for="password" class="col-sm-2 control-label">Password</label>
        <div id="passwordControls" class="col-sm-10">
            <input id="password" name="password" type="text" required ng-maxlength="45" class="form-control" ng-model="organizador.password" placeholder="Enter the Organizador Password"></input>
            <span class="help-block error" ng-show="OrganizadorForm.password.$error.required">required</span> 
            <span class="help-block error" ng-show="OrganizadorForm.password.$error.maxlength">maximum length is 45</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': OrganizadorForm.cuentacorriente.$invalid}">
        <label for="cuentacorriente" class="col-sm-2 control-label">Cuentacorriente</label>
        <div id="cuentacorrienteControls" class="col-sm-10">
            <input id="cuentacorriente" name="cuentacorriente" type="text" ng-maxlength="45" class="form-control" ng-model="organizador.cuentacorriente" placeholder="Enter the Organizador Cuentacorriente"></input>
            <span class="help-block error" ng-show="OrganizadorForm.cuentacorriente.$error.maxlength">maximum length is 45</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': OrganizadorForm.iban.$invalid}">
        <label for="iban" class="col-sm-2 control-label">Iban</label>
        <div id="ibanControls" class="col-sm-10">
            <input id="iban" name="iban" type="text" ng-maxlength="45" class="form-control" ng-model="organizador.iban" placeholder="Enter the Organizador Iban"></input>
            <span class="help-block error" ng-show="OrganizadorForm.iban.$error.maxlength">maximum length is 45</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': OrganizadorForm.rrppJefes.$invalid}">
        <label for="rrppJefes" class="col-sm-2 control-label">Rrpp Jefes</label>
        <div id="rrppJefesControls" class="col-sm-10">
            <select id="rrppJefes" name="rrppJefes" multiple class="form-control" ng-model="rrppJefesSelection" ng-options="r.text for r in rrppJefesSelectionList">
                <option value="">Choose a Rrpp Jefes</option>
            </select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': OrganizadorForm.eventos.$invalid}">
        <label for="eventos" class="col-sm-2 control-label">Eventos</label>
        <div id="eventosControls" class="col-sm-10">
            <select id="eventos" name="eventos" multiple class="form-control" ng-model="eventosSelection" ng-options="e.text for e in eventosSelectionList">
                <option value="">Choose a Eventos</option>
            </select>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveOrganizador" name="saveOrganizador" class="btn btn-primary" ng-disabled="isClean() || OrganizadorForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteOrganizador" name="deleteOrganizador" class="btn btn-danger" ng-show="organizador.idorganizador" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>