<div class="form-horizontal">
    <h3>Create a new Organizador</h3>
    <div class="form-group">
        <div class="col-md-offset-2 col-sm-2">
            <a id="Create" name="Create" class="btn btn-primary" href="#/Organizadors/new"><span class="glyphicon glyphicon-plus-sign"></span> Create</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>Search for Organizadors</h3>
    <form id="OrganizadorSearch" class="form-horizontal">
        
    <div class="form-group">
        <label for="globalCodigopostal" class="col-sm-2 control-label">Global Codigopostal</label>
        <div class="col-sm-10">
            <select id="globalCodigopostal" name="globalCodigopostal" class="form-control" ng-model="search.globalCodigopostal" ng-options="g as g.idcodigopostal for g in globalCodigopostalList">
                <option value="">Choose a Global Codigopostal</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="nombre" class="col-sm-2 control-label">Nombre</label>
        <div class="col-sm-10">
            <input id="nombre" name="nombre" class="form-control" type="text" ng-model="search.nombre" placeholder="Enter the Organizador Nombre"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="direccion" class="col-sm-2 control-label">Direccion</label>
        <div class="col-sm-10">
            <input id="direccion" name="direccion" class="form-control" type="text" ng-model="search.direccion" placeholder="Enter the Organizador Direccion"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="descripcion" class="col-sm-2 control-label">Descripcion</label>
        <div class="col-sm-10">
            <input id="descripcion" name="descripcion" class="form-control" type="text" ng-model="search.descripcion" placeholder="Enter the Organizador Descripcion"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="enlacefb" class="col-sm-2 control-label">Enlacefb</label>
        <div class="col-sm-10">
            <input id="enlacefb" name="enlacefb" class="form-control" type="text" ng-model="search.enlacefb" placeholder="Enter the Organizador Enlacefb"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="enlacetw" class="col-sm-2 control-label">Enlacetw</label>
        <div class="col-sm-10">
            <input id="enlacetw" name="enlacetw" class="form-control" type="text" ng-model="search.enlacetw" placeholder="Enter the Organizador Enlacetw"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="email" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
            <input id="email" name="email" class="form-control" type="text" ng-model="search.email" placeholder="Enter the Organizador Email"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="telefono" class="col-sm-2 control-label">Telefono</label>
        <div class="col-sm-10">
            <input id="telefono" name="telefono" class="form-control" type="text" ng-model="search.telefono" placeholder="Enter the Organizador Telefono"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="password" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
            <input id="password" name="password" class="form-control" type="text" ng-model="search.password" placeholder="Enter the Organizador Password"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="cuentacorriente" class="col-sm-2 control-label">Cuentacorriente</label>
        <div class="col-sm-10">
            <input id="cuentacorriente" name="cuentacorriente" class="form-control" type="text" ng-model="search.cuentacorriente" placeholder="Enter the Organizador Cuentacorriente"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="iban" class="col-sm-2 control-label">Iban</label>
        <div class="col-sm-10">
            <input id="iban" name="iban" class="form-control" type="text" ng-model="search.iban" placeholder="Enter the Organizador Iban"></input>
        </div>
    </div>




        <div class="form-group">
            <div class="col-md-offset-2 col-sm-10">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><span class="glyphicon glyphicon-search"></span> Search</a>
            </div>
        </div>
    </form>
</div>
<div id="search-results">
        <div class="table-responsive">
        <table class="table table-responsive table-bordered table-striped clearfix">
            <thead>
                <tr>
                    <th>Global Codigopostal</th>
                    <th>Nombre</th>
                    <th>Direccion</th>
                    <th>Descripcion</th>
                    <th>Enlacefb</th>
                    <th>Enlacetw</th>
                    <th>Email</th>
                    <th>Telefono</th>
                    <th>Password</th>
                    <th>Cuentacorriente</th>
                    <th>Iban</th>
                </tr>
            </thead>
            <tbody id="search-results-body">
                <tr ng-repeat="result in filteredResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                        <td><a href="#/Organizadors/edit/{{result.idorganizador}}">{{result.globalCodigopostal.idcodigopostal}}</a></td>
                    <td><a href="#/Organizadors/edit/{{result.idorganizador}}">{{result.nombre}}</a></td>
                    <td><a href="#/Organizadors/edit/{{result.idorganizador}}">{{result.direccion}}</a></td>
                    <td><a href="#/Organizadors/edit/{{result.idorganizador}}">{{result.descripcion}}</a></td>
                    <td><a href="#/Organizadors/edit/{{result.idorganizador}}">{{result.enlacefb}}</a></td>
                    <td><a href="#/Organizadors/edit/{{result.idorganizador}}">{{result.enlacetw}}</a></td>
                    <td><a href="#/Organizadors/edit/{{result.idorganizador}}">{{result.email}}</a></td>
                    <td><a href="#/Organizadors/edit/{{result.idorganizador}}">{{result.telefono}}</a></td>
                    <td><a href="#/Organizadors/edit/{{result.idorganizador}}">{{result.password}}</a></td>
                    <td><a href="#/Organizadors/edit/{{result.idorganizador}}">{{result.cuentacorriente}}</a></td>
                    <td><a href="#/Organizadors/edit/{{result.idorganizador}}">{{result.iban}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>

        <ul class="pagination pagination-centered">
        <li ng-class="{disabled:currentPage == 0}">
            <a id="prev" href ng-click="previous()">«</a>
        </li>
        <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
            <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
            <a id="next" href ng-click="next()">»</a>
        </li>
    </ul>

</div>