<header ng-switch on="$location.path().indexOf('/RrppMinions/new') > -1">
    <h3 ng-switch-when="true">Create a new RrppMinion</h3>
    <h3 ng-switch-when="false">View or edit RrppMinion</h3>
</header>
<form id="RrppMinionForm" name="RrppMinionForm" class="form-horizontal" role="form">
    
    <div class="form-group" ng-class="{'has-error': RrppMinionForm.rrppJefe.$invalid}">
        <label for="rrppJefe" class="col-sm-2 control-label">Rrpp Jefe</label>
        <div id="rrppJefeControls" class="col-sm-10">
        <select id="rrppJefe" name="rrppJefe" class="form-control" ng-model="rrppJefeSelection" ng-options="r.text for r in rrppJefeSelectionList"  >
            <option value="">Choose a Rrpp Jefe</option>
        </select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': RrppMinionForm.nombre.$invalid}">
        <label for="nombre" class="col-sm-2 control-label">Nombre</label>
        <div id="nombreControls" class="col-sm-10">
            <input id="nombre" name="nombre" type="text" ng-maxlength="45" class="form-control" ng-model="rrppMinion.nombre" placeholder="Enter the RrppMinion Nombre"></input>
            <span class="help-block error" ng-show="RrppMinionForm.nombre.$error.maxlength">maximum length is 45</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': RrppMinionForm.apellido1.$invalid}">
        <label for="apellido1" class="col-sm-2 control-label">Apellido 1</label>
        <div id="apellido1Controls" class="col-sm-10">
            <input id="apellido1" name="apellido1" type="text" ng-maxlength="45" class="form-control" ng-model="rrppMinion.apellido1" placeholder="Enter the RrppMinion Apellido 1"></input>
            <span class="help-block error" ng-show="RrppMinionForm.apellido1.$error.maxlength">maximum length is 45</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': RrppMinionForm.apellido2.$invalid}">
        <label for="apellido2" class="col-sm-2 control-label">Apellido 2</label>
        <div id="apellido2Controls" class="col-sm-10">
            <input id="apellido2" name="apellido2" type="text" ng-maxlength="45" class="form-control" ng-model="rrppMinion.apellido2" placeholder="Enter the RrppMinion Apellido 2"></input>
            <span class="help-block error" ng-show="RrppMinionForm.apellido2.$error.maxlength">maximum length is 45</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': RrppMinionForm.email.$invalid}">
        <label for="email" class="col-sm-2 control-label">Email</label>
        <div id="emailControls" class="col-sm-10">
            <input id="email" name="email" type="text" ng-maxlength="45" class="form-control" ng-model="rrppMinion.email" placeholder="Enter the RrppMinion Email"></input>
            <span class="help-block error" ng-show="RrppMinionForm.email.$error.maxlength">maximum length is 45</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': RrppMinionForm.telefono.$invalid}">
        <label for="telefono" class="col-sm-2 control-label">Telefono</label>
        <div id="telefonoControls" class="col-sm-10">
            <input id="telefono" name="telefono" type="text" ng-maxlength="45" class="form-control" ng-model="rrppMinion.telefono" placeholder="Enter the RrppMinion Telefono"></input>
            <span class="help-block error" ng-show="RrppMinionForm.telefono.$error.maxlength">maximum length is 45</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': RrppMinionForm.limiteEntradas.$invalid}">
        <label for="limiteEntradas" class="col-sm-2 control-label">Limite Entradas</label>
        <div id="limiteEntradasControls" class="col-sm-10">
            <input id="limiteEntradas" name="limiteEntradas" type="number" class="form-control" ng-model="rrppMinion.limiteEntradas" placeholder="Enter the RrppMinion Limite Entradas"></input>
            <span class="help-block error" ng-show="RrppMinionForm.limiteEntradas.$error.number">not a number</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': RrppMinionForm.coigoPromocional.$invalid}">
        <label for="coigoPromocional" class="col-sm-2 control-label">Coigo Promocional</label>
        <div id="coigoPromocionalControls" class="col-sm-10">
            <input id="coigoPromocional" name="coigoPromocional" type="text" ng-maxlength="45" class="form-control" ng-model="rrppMinion.coigoPromocional" placeholder="Enter the RrppMinion Coigo Promocional"></input>
            <span class="help-block error" ng-show="RrppMinionForm.coigoPromocional.$error.maxlength">maximum length is 45</span>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveRrppMinion" name="saveRrppMinion" class="btn btn-primary" ng-disabled="isClean() || RrppMinionForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteRrppMinion" name="deleteRrppMinion" class="btn btn-danger" ng-show="rrppMinion.idrrppMinion" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>